*{
    font-family: Garamond;
}
body{
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
#baner{
    background-color: Tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
}
#boczny{
    background-color: Coral;
    width: 20%;
    height: 760px;
    position: absolute;
    top: 0;
    right: 0;
}
#glowny{
    width: 80%;
    height: 680px;
    float: left;

}
#stopka{
    background-color: Tomato;
    color: white;
    text-align: center;
    clear: both;
}
img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
#chat{
    border: solid 1px Tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}
.jolanta, .krzysiek{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}
.jolanta{
    background-color: #EEE;
    
}
.krzysiek{
    background-color: #CCC;
    text-align: right;
    
}
button{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}
input[type="text"]{
    width: 500px;
}
.jolanta img{
    float: left;
}
.jolanta p{
    float: left;
}
.krzysiek img{
    float: right;
}
.krzysiek p{
    float: right;
}
